_dev/*

# object files
*.o
*.obj
obj/*
!obj/.gitkeep

# libs
*.a
*.lib

# executables
bin/*
!bin/.gitkeep

# tests
test/out/*
test/out.*
test/*.log
!test/out/.gitkeep
# test binaries
test/run*

#logs
*.log

# misc
*.swp
.~
thumbs.db
*.geany
